body{
    background-image: url(uzor1.png);
}
.h{
    text-align: center;
}
#new{
    position: fixed;
	top: 0;
	left: 0;
	font-size: 30px;
    padding: 20px;
    font-family: sans-serif;
	width: 100%;
	height: auto;
    background: linear-gradient(90deg, #f598a8, #f6edb2);
	border: 1px solid rgb(73, 72, 72); 
    z-index: 5;
}
#qqq{
    position: absolute;
    top: 100px;
    left: 50px;
    width: 180px;
	height: 600px;
    border: 2px solid green;
    padding: 10px;
    background-color: white;
    font: 14px Arial;
    border-radius: 12px;
}
h1{
    text-align: center;
}
h2{
    margin-left: -30px;
}
#zzz{
    position: absolute;
    top: 100px;
    left: 270px;
    width: 60%;
	height: auto;
    text-indent: 30px;
    border: 1px solid black;
    background-color: white;
    padding: 25px;
    margin-bottom: 1000px;
    text-align: justify;
    font: 16px Arial;
    border-radius: 12px;
    
}
img{
    display: flex;
    justify-content: center ;

}
